<!-- <div id='container'>
  <div #ele class='element'>
    <p class='drag'>Draggable Element </p>
  </div>
</div> -->

<!-- Dragable AREA -->
<div id='container'>
  <div id='droppable' class="bg-red-100">
    <p class='drop'>Drop target </p>
  </div>
  <div id='draggable'>
    <p class='drag'>Draggable Element </p>
  </div>
</div>

<!-- Droppable AREA -->
  <!-- <div id='container'>
    <div id='droppable' class="bg-red-300">
      <p class='drop'>Drop target </p>
    </div>
    <div id='draggable'>
      <p class='drag'>Draggable Element </p>
    </div>
  </div> -->
